/* 變量 */
html {
  --common-baseont-family: "Roboto", "Noto", sans-serif;
  --background-color-light: #f3f6fd;
  --el-border-radius-base: 15px;
  font-family: var(--common-baseont-family);
}
.page-gird{
  --grid-column-number: 1fr 1fr;
}
.el-drawer{
  --el-drawer-bg-color:var(--background-color-light)
}
.el-drawer__body{
  --el-drawer-padding-primary:0;
}
.el-card {
  --el-card-border-radius: 15px;
}

.el-button {
  --el-border-radius-base: 15px;
}
/* 大屏變量 */

/* 小屏變量 */
@media screen and (max-width: 800px) {
  .page-gird{
    --grid-column-number: 1fr;
  }
}

/* 樣式 */
.pd5 {
  padding-bottom: 5px;
}

.mg10-top {
  margin-top: 10px;
}

.mg5-right {
  margin-right: 5px;
}
.el-button+.el-button {
  margin-left: 0;
}

.card-picker {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.card-picker .el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}
/* gird布局 */
.page-gird {
  display: grid;
  grid-template-columns: var(--grid-column-number);
  gap: 8px;
}
.page-header {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 15px;
}
.page-header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.liquid-chart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* box布局 */
.box-card {
  height: 320px;
}

.box-card-title {
  font-weight: bold;
}

.box-card-liquid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  max-height: 200px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.box-card-liquid-subtitle {
  font-weight: 400;
}