html{
  --common-baseont-family: "Roboto", "Noto", sans-serif;
  --background-color-light:#f3f6fd;
  --el-border-radius-base: 15px;
  font-family: var(--common-baseont-family);
}
.pd5 {
  padding-bottom: 5px;
}
.mg10-top {
  margin-top: 10px;
}

.el-card{
  --el-card-border-radius:15px;
}
.el-button{
  --el-border-radius-base: 15px;
}
.card-picker{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
  .card-picker .el-dropdown-link {
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center;
  }
  .box-card{
    height: 320px;
  }
  .box-card-title{
    font-weight: bold;
  }
  .box-card-liquid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
  }
  .card-header{
      display: flex;
      justify-content: space-between;
  }
  .box-card-liquid-subtitle{
    font-weight: 400;
  }